{% extends 'base.html' %}
{% load static %}
{% block body %}
<body class="hold-transition sidebar-mini">
<div class="wrapper">

 {% include 'navbar.html' %}

{% include 'sidebar.html' %}

{% block wrapper %}
{% endblock  %}

 {% include 'asidebarizq.html' %}

 {% include 'footer.html'%}
</div>
<!-- ./wrapper -->
{% block scripts %}
<!-- REQUIRED SCRIPTS -->


<!-- jQuery -->
        <script type="application/javascript">
            $(function () {
                $('#data').DataTable({
                    responsive: true,
                    autoWidth: false,
                    dom: 'lfrtBip',
                    buttons: [
                     'copy', 'csv', 'excel', 'pdf', 'print'
                     ]
                });
            });
        </script>




{% endblock %}
</body>
{% endblock %}